#title, .app h3{
    padding: 2rem;
    display: flex;
    justify-content: center;
}

#app-drawer{
    padding-top: 2rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: fit-content;
    gap: 10px;
}

.app{
    width: 250px;
    height: 250px;
    border: 1px solid white;
}

.form{
    margin: 2rem 0;
    textarea {
        color: black;
        height: 50px;
        width: 300px;
    }
}