{% extends "base.html" %} 
{% load static %}
{% block title %} Home Page {% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}
{% block content %}

<header>
    <nav></nav>
</header>
<main>
    <div id="title">
        <h1>Finance Manager</h1>
    </div>
    <div id="app-drawer">
        {% for app in apps %}
        <div class="app">
            <h3> {{ app.name }} </h3>
        </div>
        {% endfor %}
    </div>
</main>
<footer></footer>
{% endblock %}